<% include ../../partial/header %>

<div class="container-fluid">
    <div class="row">
        <% include ../../partial/sidebar%>

        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">New Issues</h1>
        </div>

        <h2>Filter</h2>
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">

                    <form action="/projects/postEdit/<%=dtIssue[0].issueid%>/<%=dtParams%>" enctype="multipart/form-data" method="POST">
                        <!-- tracker -->
                        <div class="form-group row">
                            <legend class="col-form-label col-sm-2 pt-0">Tracker</legend>
                            <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="trackerissueEdit"
                                            id="trackerissueRadioEdit1" value="Bug"
                                            <%= dtIssue[0].tracker == 'Bug' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="trackerissueRadioEdit1">
                                            Bug
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="trackerissueEdit"
                                            id="trackerissueRadioEdit2" value="Feature"
                                            <%= dtIssue[0].tracker == 'Feature' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="trackerissueRadioEdit2">
                                            Feature
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="trackerissueEdit"
                                            id="trackerissueRadioEdit3" value="Support"
                                            <%= dtIssue[0].tracker == 'Support' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="trackerissueRadioEdit3">
                                            Support
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- subject -->
                        <div class="form-group row">
                            <label for="subjectformEdit" class="col-sm-2 col-form-label">Subject</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="subjectformEdit" name="subjectformEdit"
                                    placeholder="Subject" value="<%= dtIssue[0].subject%>">
                            </div>
                        </div>

                        <!-- description -->
                        <div class="form-group row">
                            <label for="descriptionformEdit" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-9">
                                <input class="form-control" rows="3" id="descriptionformEdit" name="descriptionformEdit"
                                    placeholder="Description" value="<%= dtIssue[0].description%>"></input>
                            </div>
                        </div>

                        <!-- data Hidden -->
                        <div class="form-group row">

                            <div class="col-sm-9">
                                <input type="hidden" name="createddate" value="<%= dtIssue[0].createdtdate%>"></input>
                            </div>
                            <div class="col-sm-9">
                                <input type="hidden" name="updateDate" value="<%= dtIssue[0].createdtdate%>"></input>
                            </div>
                        </div>

                        <!-- status -->
                        <div class="form-group row">
                            <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                            <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="statusIssueEdit"
                                            id="statusIssueRadioEdit1" value="New"
                                            <%= dtIssue[0].status == 'New' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="statusIssueRadioEdit1">
                                            New
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="statusIssueEdit"
                                            id="statusIssueRadioEdit2" value="In Progress"
                                            <%= dtIssue[0].status == 'In Progress' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="statusIssueRadioEdit2">
                                            In Progress
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="statusIssueEdit"
                                            id="statusIssueRadioEdit3" value="Resolved"
                                            <%= dtIssue[0].status == 'Resolved' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="statusIssueRadioEdit3">
                                            Resolved
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="statusIssueEdit"
                                            id="statusIssueRadioEdit4" value="Feedback"
                                            <%= dtIssue[0].status == 'Feedback' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="statusIssueRadioEdit4">
                                            Feedback
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="statusIssueEdit"
                                            id="statusIssueRadioEdit5" value="Closed"
                                            <%= dtIssue[0].status == 'Closed' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="statusIssueRadioEdit5">
                                            Closed
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="statusIssueEdit"
                                            id="statusIssueRadioEdit6" value="Rejected"
                                            <%= dtIssue[0].status == 'Rejected' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="statusIssueRadioEdit6">
                                            Rejected
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- priority -->
                        <div class="form-group row">
                            <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
                            <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="priorityissueEdit"
                                            id="priorityissueRadioEdit1" value="normal"
                                            <%= dtIssue[0].priority == 'normal' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="priorityissueRadioEdit1">
                                            Normal
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="priorityissueEdit"
                                            id="priorityissueRadioEdit2" value="high"
                                            <%= dtIssue[0].priority == 'high' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="priorityissueRadioEdit2">
                                            High
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="priorityissueEdit"
                                            id="priorityissueRadioEdit3" value="urgent"
                                            <%= dtIssue[0].priority == 'urgent' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="priorityissueRadioEdit3">
                                            Urgent
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="priorityissueEdit"
                                            id="priorityissueRadioEdit4" value="immediate"
                                            <%= dtIssue[0].priority == 'immediate' ? 'checked' : '' %>>
                                        <label class="custom-control-label" for="priorityissueRadioEdit4">
                                            Immediate
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <!-- assignee -->
                        <div class="form-group row">
                            <label for="assigneeformEdit" class="col-sm-2 col-form-label">Assignee</label>
                            <div class="col-sm-9">
                                <select class="custom-select form-control" name="assigneeformEdit"
                                    id="assigneeformEdit">
                                    <option><%= dtIssue[0].assignee%></option>
                                    <% for (let i = 0; i < dtAssignee.length; i++) {%>
                                    <option value="<%= dtAssignee[i].userid %>">
                                        <%=dtAssignee[i].firstname+' '+dtAssignee[0].lastname%>
                                    </option>
                                    <%}%>
                            </select>
                        </div>
                    </div>

                    <!-- startdate -->
                    <div class="form-group row">
                        <label for="startdateformEdit" class="col-sm-2 col-form-label">Start Date</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="startdateformEdit" name="startdateformEdit"
                                placeholder="Start Date" value="<%=moment(dtIssue[0].startdate).format('YYYY-MM-DD')%>">
                            </div>
                        </div>

                        <!-- duedate -->
                        <div class="form-group row">
                            <label for="duedateformEdit" class="col-sm-2 col-form-label">Due Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="duedateformEdit" name="duedateformEdit"
                                    placeholder="Due Date" value="<%=moment(dtIssue[0].duedate).format('YYYY-MM-DD')%>">
                            </div>
                        </div>

                        <!-- estimated date -->
                        <div class="form-group row">
                            <label for="estimatedformEdit" class="col-sm-2 col-form-label">Estimated Date (Days)</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="estimatedformEdit"
                                    name="estimatedformEdit" placeholder="Due Date"
                                    value="<%=dtIssue[0].estimatedtime%>">
                            </div>
                        </div>

                        <!-- done -->
                        <div class="form-group row">
                            <label for="doneformEdit" class="col-sm-2 col-form-label">% Done</label>
                            <div class="col-sm-9">
                                <select class="custom-select form-control" name="doneformEdit" id="doneformEdit">
                                    <option>Percentage</option>
                                    <option value="0" <%= dtIssue[0].done == 0 ? 'selected' : '' %>>0%</option>
                                    <option value="25" <%= dtIssue[0].done == 25 ? 'selected' : '' %>>25%</option>
                                    <option value="50" <%= dtIssue[0].done == 50 ? 'selected' : '' %>>50%</option>
                                    <option value="75" <%= dtIssue[0].done == 75 ? 'selected' : '' %>>75%</option>
                                    <option value="100" <%= dtIssue[0].done == 100 ? 'selected' : '' %>>100%</option>
                                </select>
                            </div>
                        </div>

                        <!-- spenttime -->
                        <div class="form-group row">
                            <label for="spenttimeform" class="col-sm-2 col-form-label">Spent Time</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="spenttimeform" name="spenttimeform"
                                    placeholder="Spent Time" value="<%=dtIssue[0].spenttime%>"required>
                            </div>
                        </div>

                        <!-- targetversion -->
                        <div class="form-group row">
                            <label for="targetversionform" class="col-sm-2 col-form-label">Target Version</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="targetversionform" name="targetversionform"
                                    placeholder="Target Version" value="<%= dtIssue[0].targetversion%>" required>
                            </div>
                        </div>

                        <!-- author -->
                        <div class="form-group row">
                            <label for="authorform" class="col-sm-2 col-form-label">Author</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="authorform" name="authorform"
                                    placeholder="Author" value="<%=dtIssue[0].author%>" disabled>
                            </div>
                        </div>

                        <!-- parenttask -->
                        <div class="form-group row">
                            <label for="parenttaskform" class="col-sm-2 col-form-label">Parent Task (Issue ID)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="parenttaskform" name="parenttaskform"
                                    placeholder="Parent Task" value="<%=dtIssue[0].parenttask%>" required>
                                    <label for="parenttaskform" class="col-sm-4 col-form-label" style="font-size: 14px">parenttask null number > 0</label>
                            </div>

                        </div>


                        <div class="form-group row">
                            <label for="validatedCustomFile" class="col-sm-2 col-form-label">File</label>
                            <div class="custom-file col-sm-9">
                                <div class="col-sm-9">
                                    <input type="hidden"  name="filetTbl" value="<%= dtIssue[0].files%>">
                                    <input type="file" name="sampleFile" value="<%= dtIssue[0].files%>">
                                    <br>
                                    <br>
                                    <%= dtIssue[0].files%>

                                    <img src="/images/<%=dtIssue[0].files%>" alt="" style="width:100px;margin: 20px">

                                </div>
                                <br>
                            </div>
                        </div>

                        <br><br><br><br>

                        <button type="submit" class="btn btn-outline-primary">Save</button>
                        <a href='/projects/issuesList/<%=dtParams%>' class="btn btn-outline-warning">Back</a>
                        <br>
                        <br>
                        <br>
                        <br>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../../partial/endsidebar %>
<% include ../../partial/footer %>