<% include ../../partial/header %>

<div class="container-fluid">
    <div class="row">
        <% include ../../partial/sidebar %>

        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Issues</h1>
        </div>

        <h2>Filter</h2>
        <% if(successAddIssue.length > 0) { %>
        <div class="alert alert-success" role="alert">
            <h2> <%= successAddIssue %></h2>
        </div>
        <%}%>

            <% if(successDELETEIssue.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <h2> <%= successDELETEIssue %></h2>
        </div>
        <%}%>

        <% if(successEditIssue.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <h2> <%= successEditIssue %></h2>
            </div>
            <%}%>

            <% if(failedAddIssue.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <h2> <%= failedAddIssue %></h2>
                </div>
                <%}%>
            
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">

                    <form encType="multipart/form-data">
                        <input type="hidden" name="page" value="1">

                        <div class="form-group row">
                            <label for="checkmem1" class="col-sm-3 col-form-label">ID PROJECT</label>
                            <div class="col-form-label">
                                <input class="col-sm-6-form-check-input" type="checkbox" id="ck1id" name="ck1id">
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="idProject" name="idProject" placeholder="ID"
                                    value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="checkmem2" class="col-sm-3 col-form-label">Subject</label>
                            <div class="col-form-label">
                                <input class="col-sm-6-form-check-input" type="checkbox" id="ck2Subject"
                                    name="ck2Subject">
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="subjectProject" name="subjectProject"
                                    placeholder="Subject" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="checkmem3" class="col-sm-3 col-form-label">Tracker</label>
                            <div class="col-form-label">
                                <input class="col-sm-6-form-check-input" type="checkbox" id="ck3Tracker"
                                    name="ck3Tracker">
                            </div>
                            <div class="col-md-8">
                                <select id="inputState" class="form-control" name="trackerIssue">
                                    <option value="">Choose</option>
                                    <option value="Bug">Bug
                                    </option>
                                    <option value="Feature">Feature</option>
                                    <option value="Support">Support</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary">Search</button>
                        <a href='/projects/issuesList/<%=dtParams%>' class="btn btn-outline-warning">Reset</a>
        </form>
        <br />

        <h2>Option </h2>

        <fieldset class="form-group">
            <form method="post" action="/projects/optionIssue/<%=dtParams%>">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Columns</legend>
                    <div class="col-sm-1">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="idckissue" id="checkbox1"
                                value="true" <%= dataOptionIssue.idckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox1">
                                ID
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="subjectckissue" id="checkbox2"
                                value="true" <%= dataOptionIssue.subjectckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox2">
                                Subject
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="trackerckissue" id="checkbox3"
                                value="true" <%= dataOptionIssue.trackerckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox3">
                                Tracker
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="statusckissue" id="checkbox4"
                                value="true" <%= dataOptionIssue.statusckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox4">
                                Status
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="priorityckissue" id="checkbox5"
                                value="true" <%= dataOptionIssue.priorityckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox5">
                                Priority
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="descckissue" id="checkbox6"
                                value="true" <%= dataOptionIssue.descckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox6">
                                Description
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="stdateckissue" id="checkbox7"
                                value="true" <%= dataOptionIssue.stdateckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox7">
                                Start Date
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="duedateckissue" id="checkbox8"
                                value="true" <%= dataOptionIssue.duedateckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox8">
                                Due Date
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="estTimeckissue" id="checkbox9"
                                value="true" <%= dataOptionIssue.estTimeckissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox9">
                                Estimated Date
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="doneissue" id="checkbox10"
                                value="true" <%= dataOptionIssue.doneissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox10">
                                Done
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="authorissue" id="checkbox11"
                                value="true" <%= dataOptionIssue.authorissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox11">
                                Author
                            </label>
                        </div>
                        <div class="custom-control custom-checkbox my-1 mr-sm-2">
                            <input class="custom-control-input" type="checkbox" name="assigneeissue" id="checkbox12"
                                value="true" <%= dataOptionIssue.assigneeissue ? 'checked' : ' ' %>>
                            <label class="custom-control-label" for="checkbox12">
                                Assignee
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Apply</button>


            </form>
        </fieldset>

    </div>
    <br />
</div>
<div class="card table-responsive">

    <table class="table table-hover">
        <thead>
            <tr>
                <% if (dataOptionIssue.idckissue) {%>
                <th scope="col">Issue ID</th><%}%>
                            <% if (dataOptionIssue.subjectckissue) {%>
                <th scope="col">Subject</th><%}%>
                            <% if (dataOptionIssue.trackerckissue) {%>
                <th scope="col">Tracker</th><%}%>
                            <% if (dataOptionIssue.statusckissue) {%>
                <th scope="col">Status</th><%}%>
                            <% if (dataOptionIssue.priorityckissue) {%>
                <th scope="col">Priority</th><%}%>
                            <% if (dataOptionIssue.descckissue) {%>
                <th scope="col">Description</th><%}%>
                            <% if (dataOptionIssue.stdateckissue) {%>
                <th scope="col">Start Date</th><%}%>
                            <% if (dataOptionIssue.duedateckissue) {%>
                <th scope="col">Due Date</th><%}%>
                            <% if (dataOptionIssue.estTimeckissue) {%>
                <th scope="col">Estimated Time</th><%}%>
                            <% if (dataOptionIssue.doneissue) {%>
                <th scope="col">Done (%)</th><%}%>
                            <% if (dataOptionIssue.authorissue) {%>
                <th scope="col">Author</th><%}%>
                            <% if (dataOptionIssue.assigneeissue) {%>
                <th scope="col">Assignee</th><%}%>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% issueAll.forEach((item) => {%>
            <tr>
                <% if (dataOptionIssue.idckissue) {%>
                <th scope="row"><%=item.issueid%></th><%}%>
                            <% if (dataOptionIssue.subjectckissue) {%>
                <td><%=item.subject%></td><%}%>
                            <% if (dataOptionIssue.trackerckissue) {%>
                <td><%=item.tracker%></td><%}%>
                            <% if (dataOptionIssue.statusckissue) {%>
                <td><%=item.status%></td><%}%>
                            <% if (dataOptionIssue.priorityckissue) {%>
                <td><%=item.priority%></td><%}%>
                            <% if (dataOptionIssue.descckissue) {%>
                <td><%=item.description%></td><%}%>
                            <% if (dataOptionIssue.stdateckissue) {%>
                <td><%= moment(item.startdate).format('YYYY-MM-DD, hh:mm:ss')%></td><%}%>
                            <% if (dataOptionIssue.duedateckissue) {%>
                <td><%= moment(item.duedate).format('YYYY-MM-DD, hh:mm:ss')%></td><%}%>
                            <% if (dataOptionIssue.estTimeckissue) {%>
                <td><%=item.estimatedtime%></td><%}%>
                            <% if (dataOptionIssue.doneissue) {%>
                <td><%=item.done%>%</td><%}%>
                            <% if (dataOptionIssue.authorissue) {%>
                <td><%=item.author%></td><%}%>
                            <% if (dataOptionIssue.assigneeissue) {%>
                <td><%=item.assignee%></td><%}%>

                            <td><a href='/projects/editListIssue/<%=item.issueid%>/<%=dtParams%>' class="btn
                btn-outline-secondary">Edit</a>
                <a href='/projects/deleteIssue/<%=item.issueid%>/<%=dtParams%>'
                    class="btn btn-outline-danger">Delete</a>
                </td>

            </tr>
            <%})%>

            </tbody>
    </table>

</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item<%= 1 == pagination.page ? ' disabled' : ''%>"><a class="page-link"
                href="/projects<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page) - 1}`) %>">Previous</a>
        </li>
        <% for(let i = 1; i <= pagination.pages;i++) { %>
        <li class="page-item<%= i == pagination.page ? ' active' : ''%>"><a class="page-link"
                href="/projects<%= pagination.url.replace(`page=${pagination.page}`, `page=${i}`) %>"><%= i %></a></li>
        <% } %>
        <li class="page-item<%= pagination.pages <= pagination.page ? ' disabled' : ''%>"><a class="page-link"
                href="/projects<%= pagination.url.replace(`page=${pagination.page}`, `page=${parseInt(pagination.page) + 1}`) %>">Next</a>
        </li>
    </ul>
</nav>
<a href="/projects/issuesAddList/<%=dtParams%>" class="btn btn-primary" style="margin-left:2px">Add</a>
<br>
<br>
<br>
<br>

</div>
</div>
</div>
</div>
<% include ../../partial/footer %>