<% include ../../partial/header %>

<div class="container-fluid">
    <div class="row">
        <% include ../../partial/sidebar%>

        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add Members</h1>
        </div>

        <label>
            <% if(warningAdd.length > 0) { %>
            <div class="alert alert-warning" role="alert">
               <h2> <%= warningAdd %></h2>
            </div>
            <%}%>
              
        </label>
        <div class="table-responsive">
            <div class="card">
                <div class="card-body">

                    <form method="post" action="/projects/postAddMember/<%=dtParams%>">

            <div class="form-group row">

                <legend class="col-form-label col-sm-2 pt-0">Members</legend>
                <fieldset id="members-radio" class="col-form-label col-sm-10 pt-0">
                    <div class="col-sm-10">
                        <% for ( let i = 0; i < dataDB.length; i++) {%>
                        <div class="custom-control custom-radio my-1 mr-sm-2">
                            <input class="custom-control-input" type="radio" name="namemember" id="radio<%=[i + 1]%>"
                                value="<%=dataDB[i].userid%>" <%= dataDB.userid ? 'checked':''%>>
                            <label class="custom-control-label" for="radio<%=[i + 1]%>">
                                <%=dataDB[i].firstname+' '+dataDB[i].lastname%>
                            </label>
                        </div>
                        <%}%>

                                </div>
                            </fieldset>

                            <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                            <fieldset id="position-radio" class="col-form-label col-sm-10 pt-0">
                                <div class="col-sm-10">
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="memberPosition"
                                            id="memberPositionRadio1" value="manager">
                                        <label class="custom-control-label" for="memberPositionRadio1">
                                            Manager
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="memberPosition"
                                            id="memberPositionRadio2" value="software developer">
                                        <label class="custom-control-label" for="memberPositionRadio2">
                                            Software Developer
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio my-1 mr-sm-2">
                                        <input class="custom-control-input" type="radio" name="memberPosition"
                                            id="memberPositionRadio3" value="quality assurance">
                                        <label class="custom-control-label" for="memberPositionRadio3">
                                            Quality Assurance
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Save</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../../partial/endsidebar %>
                        <% include ../../partial/footer %>